<div class="container">
  <div class="w-100 text-center">
    <h1>CHALLENGE ACCEPTED</h1>
      <div>
        <%= cl_image_tag(@user.photo.key, width: 400, height: 300, crop: :fill) %>
      </div>
      <br>
      <div class="d-flex justify-content-center">
        <%= link_to "Lancer un challenge!", new_challenge_path, class: "btn btn-primary" %>
      </div>
      <div>
        <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
      </div>
  </div>
</div>
