
<div class="ms-4">
  <div class="container">
    <div class="col-10 mx-auto px-1 d-flex justify-content-center m-0">
      <div class='col-6 my-5'>
        <%= link_to "Lancer un challenge!", new_challenge_path, class: "btn btn-primary" %>
      </div>
    </div>
  </div>
</div>
