<div class="top-show-challenge">
  <div class="mx-3">
    <div class="col-12 d-flex">
      <div class="container">
        <% if @challenge.started %>
          <% if @challenge.end_date < Date.today %>
            <%= render 'show_finished' %>
          <% else %>
            <%= render 'show_started' %>
          <% end %>
        <% else %>
            <%= render 'show_not_started' %>
        <% end %>
      </div>
    </div>
  </div>
</div>
