.btn {
  background-color: #4F51AA;
  color: white;
  border-radius: 30px;
  padding: 8px 16px;
  border: 1px solid transparent;
}

.btn:hover {
  border: 1px solid #4F51AA;
  color: #4F51AA;
  background-color: white;
}
