.btn {
  background-color: #4F51AA;
  color: #F4F4F4;
  border-radius: 10px;
  padding: 8px 16px;
  border: 1px solid transparent;
}

.btn:hover {
  border: 1px solid #4F51AA;
  color: #4F51AA;
  background-color: #F4F4F4;
}

.btn-home {
  display: flex;
  width: 100%;
  justify-content: center;
  margin-bottom: 24px
  // position: sticky;
  // bottom: 12px;
}
