.card2 {
  flex-shrink: 0;
  width:40vw;
  height:40vw;
  text-align: left;
  line-height: 12px;
  box-shadow: 0 0 10px 4px rgba(0,0,0,0.06);
  border-radius: 30px;
  background-image: asset_url('back_card.jpg');
  background-size: cover;
  margin: 10px 5px 10px 5px;
}

#challenge-frequency {
  text-align: center;
  padding: 8px;
  margin: 8px;
  width: 100%;
}

#title {
  text-decoration: none;
}

.card-body {
  font-size: 14px;
  padding-top: 56px;
}

.card-body h3 {
  font-size: 16px;
  line-height: 15px;
}

.scroll {
  display: flex;
  overflow-x: scroll;
}

.scroll::-webkit-scrollbar {
  display: none;
}
