.card2 {
  width: 18rem;
  text-align: center;
  box-shadow: 0 0 15px 4px rgba(0,0,0,0.06);
  border-radius: 30px;
  padding: 8px;
  margin: 8px;
}

#challenge-frequency {
  text-align: center;
  padding: 8px;
  margin: 8px;
  width: 100%;
}
