.card3 {
  width: 90%;
  text-align: center;
  box-shadow: 0 0 15px 4px rgba(0,0,0,0.06);
  border-radius: 20px;
  padding: 16px;
  margin: 9px 8px !important;
  p {
    margin-bottom: 0;
  }
}

.card4 {
  width: 90%;
  text-align: center;
  box-shadow: 0 0 15px 4px rgba(0,0,0,0.06);
  border-radius: 20px;
  padding: 16px;
  padding-bottom: 6px !important;
  margin: 0px 8px !important;
}

.card-blue {
  font-size: x-large;
  width: 80%;
  text-align: center;
  box-shadow: 0 0 15px 4px rgba(0,0,0,0.06);
  border-radius: 20px;
  padding: 16px;
  margin: auto;
  background-color: #4F51AA;
  color: white;
  margin-top: revert;
}

.card-not-center {
  width: 90%;
  text-align: left;
}

img {
  padding-bottom: 0px;
  // margin-bottom: 0px !important;
}

.card-under-blue {
  width: 90%;
  text-align: center;
  box-shadow: 0 0 15px 4px rgba(0,0,0,0.06);
  border-radius: 20px;
  padding: 16px;
  margin: 15px 8px !important;
}

.card-under-blue .i1 {
  color: #5052a7;
  font-size: 24px;
}

.card-under-blue .i2 {
  color: #ffde81;
  font-size: 24px;
}

.card-under-blue .i3 {
  color: #ff91a4;
  font-size: 24px;
}

.top-show-challenge {
  background-image: asset_url('top-challenge2.svg');
  flex-grow: 1;
  height: 100%;
  border-radius: 30px,30px,0px,30px;
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: top;
  margin: 0;
}

.bottom-challenge {
  background-image: asset_url('bottom-challenge.svg');
  width: 100vw;
  background-repeat: no-repeat;
  background-size: 100vw;
  background-position: top;

  padding: 8px;
  color: white;
}

.container {
  padding-right: 4px !important;
  padding-left: 4px !important;
}

.container2 {
  padding-right: 0px;
  padding-left: 0px;
}

.back-blue {
  background-color: #5052a7;
  margin-bottom: 2px;
}

.blue-bot {
  background-color: #5052a7;
  margin-bottom: 10px;
}
