.card3 {
  width: 90%;
  text-align: center;
  box-shadow: 0 0 15px 4px rgba(0,0,0,0.06);
  border-radius: 20px;
  padding: 16px;
  margin: auto;
  p {
    margin-bottom: 0;
  }
}

.top-show-challenge {
  // width:375px;
  background-image: asset_url('top-challenge.svg');
  flex-grow: 1;
  height: 100%;
  // height: 200px;
  border-radius: 30px,30px,0px,30px;
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: top;
  margin: 0;
}
