#challenge_title, #challenge_start_date, #challenge_end_date, #challenge_frequency, #challenge_photo {
  height: 50px;
  border-radius: 10px;
  box-shadow: 0 0 15px 4px rgba(0,0,0,0.06);
  border: 1px solid #4F51AA;
}

#challenge_frequency {
  width: 100%;
}

#challenge_description {
  height: 100px;
  border-radius: 10px;
  box-shadow: 0 0 15px 4px rgba(0,0,0,0.06);
  border: 1px solid #4F51AA;
}

#challenge_photo, #user_photo {
  padding: 0.5rem 0.75rem;
  line-height: 2;
}

#user_name, #user_email, #user_password, #user_password_confirmation, #user_photo {
  height: 50px;
  border-radius: 10px;
  box-shadow: 0 0 15px 4px rgba(0,0,0,0.06);
  border: 1px solid #4F51AA;
}

#user_remember_me {
  border-radius: 50%;
  border: 1px solid #4F51AA;
}
