.top-show-user {
  height: 240px;
  background-image: asset_url('test-test.png');
  background-size: 100% auto;
  background-repeat: no-repeat;
  font-weight: 700;
}

.flexbox {
  display: flex;
  justify-content: space-evenly;
}

.title {
  color: white;
  margin-top: 10px;
}

.greeting {
  padding-top: 42px;
  padding-left: 32px;
  p {
    margin-bottom: 0px;
  }
}

#log-out i {
  color: white;
  margin-top: 12px;
  margin-right: 12px;
  margin-left: 26px;
  font-size: 24px;
}

.points {
  margin-bottom: 8px;
}

.points {
  p {
  font-weight: 400;
  margin-bottom: 0px;
  }
  i {
    color: #FFDE81;
    font-size: 40px;
    margin-bottom: 8px;
  }
}
