.progression_card {
  background-color: #F4F5FE;
  border-radius: 15px;
  font-size: 14px;
  padding: 12px 24px;
  margin: 15px 16px;
}

.progression_card button, .btn-valid, .btn-not-valid {
  color: white;
  background-color: #5052a7;
  // border: 3px solid #ff91a4;
  width: 32px;
  height: 32px;
}

.centered {
  margin: auto;
}

.progression_card h3 {
  font-size: 16px;
}

.body4 {
  line-height: 0.8;
}

.btn-go .btn {
  background-color: #5052a7;
}

.validation-progression {
  margin-top: 10px;
  margin-bottom: 20px;
}

.dark-font {
  color: black;
}

.text-larger {
  font-size: larger;
}

.no-margin {
  margin-bottom: 2px;
}
